h1{
    background-color: brown;
    
}  

p{
    background-color: blanchedalmond ;
}

span{
    background-color: aquamarine;
    
}
.span2{
    
 background-color: cornflowerblue;   
}

a{
    display: inline-block;
    width: 400px;
    height: 200px;
    background-color: chartreuse;
}