body{
    background-color: beige;
    

}

.foto{
    display: flex;
    display: inline-block;
    width: 300px;
    padding: 50px;
    margin: auto;
}
#dov{
    display: flex;
    justify-content: center;
}
.container1{
    display: flex;
    background-color: aliceblue;
    width: 300px;
    height: 400px;

}
.dinheiro{
    color: darkgreen;
}
